/* reset */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
/* reset end */

/* min width boolzapp web */
/* body, .my_background {
  min-width: 993px;
} */
/* min width boolzapp web end */

/* typography */
  *{
    font-family: 'Lato', sans-serif;
  }
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
  }
  h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
  }
  .my_last_access{
    font-size: 14px;
    color: #6d7578;
  }
  .my_subtitle{
    color: #bfc2c4;
    font-weight: 700;
    margin: 0;
  }
  sup {
    color: #bfc2c4;
    font-weight: 700;
  }
/* typography end */

/* background */
  .my_background{
    height: 100vh;
    padding: 25px 0;
    background: rgb(216,219,214);
    background: -moz-linear-gradient(0deg, rgba(216,219,214,1) 85%, rgba(0,150,136,1) 85%, rgba(0,150,136,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(216,219,214,1) 85%, rgba(0,150,136,1) 85%, rgba(0,150,136,1) 100%);
    background: linear-gradient(0deg, rgba(216,219,214,1) 85%, rgba(0,150,136,1) 85%, rgba(0,150,136,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8dbd6",endColorstr="#009688",GradientType=1);
  }
/* background end */

/* sidebar layout */
  .my_sidebar{
    width: 400px;
    height: 95vh;
    background-color: #fff;
    float: left;
  }
  .my_sidebar > .my_header{
    height: 75px;
    background-color: #eaeaea;
    border-right: 1px solid #d6d6d6;
    padding: 10px;
  }
  .my_sidebar > .my_notification_bar{
    height: 85px;
    background-color: #8edafc;
    padding: 15px;
  }
  .my_sidebar > .my_search_bar{
    height: 50px;
    background-color: #fafafa;
    border-right: 1px solid #d6d6d6;
    padding: 8px;
  }
  .my_sidebar > .my_chats{
    height: calc(95vh - 220px);
    background-color: #fff;
    border-right: 1px solid #d6d6d6;
    overflow-y: auto;
    overflow-x: hidden;
  }
/* sidebar layout end */

/* sidebar elements styles */
.my_profile_img{
  height: 55px;
  border-radius: 50%;
}
.my_icon{
  color: #b1b1b1;
  font-size: 25px;
  margin: 15px 10px 0;
}
.my_icon_darker{
  color: #6b7376;
  margin-top: 12px;
}
.my_bell{
  font-size: 20px;
  background-color: #f2fbff;
  padding: 16px;
  border-radius: 50%;
  color: #8edafc;
}
.my_link{
  color: #4f7485;
  text-decoration: underline;
  font-size: 15px;
}
.my_row{
  background-color: #fff;
  padding: 4px;
  border-radius: 5px;
  box-shadow:0px 0px 2px #C5DBDA;
}
.my_search{
  font-size: 18px;
  margin: 0 10px;
  color: #b1b1b1;
}
.my_input{
  width: calc(100% - 44px);
  border: none;
}
.my_chat_element{
  padding: 15px;
  border-bottom: 1px solid #d6d6d6;
}
.my_chat_element:hover{
  background-color: #e9ebeb;
}
.my_active{
  background-color: #e9ebeb;
}
/* sidebar elements styles */

/* main content layout */
  .my_main_content{
    width: calc(100% - 400px);
    background-image: url(../img/mine.jpg);
    height: 95vh;
    float: left;
  }
  .my_main_content > .my_chat_person{
    height: 75px;
    background-color: #eaeaea;
    padding: 10px;
  }
  .my_title_subtitle{
    margin-left: 10px;
    padding-top: 7px;
  }
  .my_main_content > .my_chatbox{
    height: calc(95vh - 150px);
    overflow-y: auto;
    padding: 30px 20px;
  }
  .my_main_content > .my_message{
    height: 75px;
    background-color: #f3eeea;
    padding-top: 12px;
  }
  .my_col{
    padding: 0;
  }
/* main content layout end */

/* main content elements styles */
  .my_message_input{
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
  }
  .my_chat, ul{
    list-style: none;
  }
  .my_sent_message{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .my_received_message{
    position: relative;
  }
  .my_arrow{
    cursor: pointer;
  }
  .my_chat li > p {
    display: inline-block;
    padding: 12px 10px;
    margin: 5px 0;
    border-radius: 15px;
    max-width: 70%;
    word-break: break-all;
    word-wrap: break-word;
  }
  .my_sent_message > p {
    background-color: #d5f9ba;
  }
  .my_received_message > p{
    background-color: #fff;
  }
  .my_arrow{
    display: none;
  }
  .my_received_message p:hover .my_arrow,
  .my_sent_message p:hover .my_arrow{
    display:inline;
  }
  .my_template{
    display: none;
  }
  .my_hidden{
    display: none;
  }
  .my_dropdown_received, .my_dropdown_sent{
    position: absolute;
    background-color: #fff;
    bottom: -25px;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    z-index: 1;
  }
  sub{
    margin-left: 10px;
    margin-top: 30px;
    text-align: right;
    color: #bfc2c4;
  }
/* main content elements styles end */
